Homework 1 Example

In [1]:
x = 10 
y = 100
z = x + y

In [2]:
z

110

reading the data

In [3]:
import pandas as pd 

mydata = pd.read_csv("https://github.com/DACSS690C-CSSMETHODS/nogradeHW/raw/refs/heads/main/airports.csv")

mydata.head()

,IATA,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE
0,ABQ,Albuquerque International,Albuquerque,NM,USA,35.040222,-106.609194
1,ANC,Ted Stevens Anchorage International,Anchorage,AK,USA,61.174320,-149.996186
2,ATL,William B Hartsfield-Atlanta Intl,Atlanta,GA,USA,33.640444,-84.426944
3,AUS,Austin-Bergstrom International,Austin,TX,USA,30.194533,-97.669872
4,BDL,Bradley International,Windsor Locks,CT,USA,41.938874,-72.683228